<mat-tab-group class="mat-tab-group-lives">
    <mat-tab label="REALIZADAS">
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mat-tab-div-1">
            <ng-container *ngFor="let live of livesPrevious" class="mat-tab-ng-container">
                <mat-card class="mat-card-live" fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)"
                    fxFlex.lt-sm="100%">
                    <mat-card-title class="mat-card-live-title">
                        <div class="row">
                            <p>
                                <span class="nome-live" fxFlex="70"
                                    fxLayoutAlign="start center">{{live.liveName}}</span>
                                <span fxFlex></span>
                                <span class="data-live" fxFlex="25" fxLayoutAlign="end center">{{live.liveDate}}</span>
                            </p>
                            <p class="nome-canal">
                                Canal: <span>{{live.channelName}}</span>
                            </p>
                        </div>
                    </mat-card-title>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>
</mat-tab-group>